* {
  font-family: sans-serif;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:visited {
  color: hsl(0, 0%, 20%);
}
